<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.png" />
  <title>Nyhedsbreve</title>
  <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/sticky-footer-navbar.css">
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/checklist-model/checklist-model.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="/assets/js/main.js"></script>
  <base href="/">
</head>
<body ng-app="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <nav class="main-nav" ng-controller="MenuController">
          <ul>
            <li>
              <!-- <a ng-click="home()" href=""><i class="fa fa-home"></i> Nyhedsbreve</a> -->
              <a href="nyhedsbreve"><i class="fa fa-home"></i> Nyhedsbreve</a>
            </li>
            <li>
              <a ng-click="showMenu = !showMenu" href="" class="navi-toggle">Menu <i class="fa fa-bars icon-square"></i></a>
            </li>
            <li ng-class="{'hidden-mobile': !showMenu}" class="mobile-nav">
              <a href="faq"><i class="fa fa-question-circle"></i> FAQ</a>
            </li>
            <li ng-class="{'hidden-mobile': !showMenu}" ng-show="loggedIn" class="mobile-nav">
              <a href="tilmeldt"><i class="fa fa-envelope"></i> Dine nyhedsbreve</a>
              <!-- Used for testing only -->
              <small><a href="tilmeldt?eksternid={{ ekstern_id }}" style="color: lightgrey;"><i class="fa fa-bookmark"></i></a></small>
            </li>
            <li ng-class="{'hidden-mobile': !showMenu}" class="mobile-nav">
              <a href="oplysninger" ng-if="loggedIn"><i class="fa fa-cog"></i> {{email}}</a>
              <a href="login" ng-if="!loggedIn"><i class="fa fa-cog"></i> Log ind</a>
            </li>
          </ul>
        </nav>
      </div>
    </div><!-- row -->
    <div ng-view></div>
  </div>
  <footer class="footer main-footer">
    <div class="container">
      <div class="col-xs-12">
        <div class="text-center">
          <p>
            <a target="_blank" href="http://www.berlingskemedia.dk/ophavsret-og-vilkaar/">Ophavsret og Vilkår</a>
            <a target="_blank" href="http://www.berlingskemedia.dk/cookie-og-privatlivspolitik/" class="cookie-link">Cookiepolitik</a>
            <a href="kontakt">Kontakt os</a>
          </p>
          <p>
            <span>Berlingske Media A/S, Pilestræde 34, 1147 København K, CVR.nr. 29207313</span>
          </p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
