html, .container, .container-fluid {
  background-color: #F5F5F5;
}

html, div, h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

.topnavbar {
  height: 50px;
  color: #FFFFFF;
  background-color: #124680;
}

.topnav .navbar {
  margin-bottom: 0px;
  min-height: 50px;
  max-height: 50px;
}

.topnav .navbar .container {
  max-height: 50px;
}

.topnavbarheader {
  font-size: 24px;
  font-weight: 500;
  padding: 0px;
  margin-top: 13px;
}

.topnavfiller {
  height: 50px;
  /*padding-top: 40px;*/
}

.navbar-default {
  border: none;
}

.sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1000;
  display: block;
  color: #FFFFFF;
  /*background-color: #124680;*/
  padding: 20px;
  background: #124680;
  background: -webkit-linear-gradient(#124680, #298EFF);
  background:    -moz-linear-gradient(#124680, #298EFF);
  background:         linear-gradient(#124680, #298EFF);
}

.sidebar .logo {
  background: url(/opdatering/assets/bem-logo-no-fold.svg) 0 50% no-repeat;
  display: block;
  height: 100px;
  width: 240px;
}

.sidebar .items {
  padding: 40px 20px 20px 0px;
}
.sidebar .item {
  padding: 5px;
  font-size: 16px;
}

.main {

}

@media (min-width: 767px) {
  .main {
      padding-top: 60px;
  }

  .stepheader {
    /*padding-bottom: 20px;*/
  }
}

.steppage {
  /*padding-top: 20px;*/
  /*margin-top: 30px;*/
  margin-bottom: 50px;
  background-color: #F5F5F5;
}

.stepheader {
  font-size: 20px;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
}

.stepsubtitle {
  font-size: 20px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 20px;
  line-height: 1.3;
}

.selectionheader {
  font-size: 20px;
  font-weight: 500;
  padding-top: 40px;
  padding-bottom: 10px;
}

.stepStamdata .stamdataStepheaderPadding {
  padding-bottom: 20px;
}

.stepStamdata .form-group {
  padding: 0px 0px 13px 0px;
}

.stepStamdata .mdbGreenCheckbox {
  padding: 40px 0px 0px 0px;
}

@media (max-width: 767px) {
  .stepFinished h2 {
    margin-top: 30px;
  }
}

.control-label {
  font-size: 18px;
  font-weight: 400;
}

.form-control {
  height: 45px;
  font-size: 18px;
  border: 1px solid #DDDDDD;
  border-radius: 2px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input, select {
  -webkit-appearance: none;
}

button, .btn {
  height: 45px;
  border: 1px solid #DDDDDD;
  border-radius: 2px;
}

.navButtons {
  margin-top: 45px;
}

@media (max-width: 767px) {
  .navButtons .btn {
    height: 54px;
    padding-left: 26px;
    padding-right: 26px;
    font-size: 18px;
  }
}

@media (min-width: 767px) {
  .navButtons .btn {
    height: 36px;
    font-size: 14px;
  }
}

.nextButton {
  background-color: #393939;
  color: #FFFFFF;
}

.mdbCheckbox input[type="checkbox"] {
  visibility: hidden;
}

.mdbGreenCheckbox {

}

@media (max-width: 767px) {
  .mdbGreenCheckbox {
    padding-top: 2px;
    padding-bottom: 3px;
  }

  .mdbLogoCheckbox {
    padding-bottom: 3px;
  }
}

.mdbGreenCheckbox input[type="checkbox"] + label {
  background:url(/opdatering/assets/unchecked.svg) 0px 2px no-repeat;
  padding-left: 30px;
  height: 26px;
}

.mdbGreenCheckbox input[type="checkbox"]:checked + label {
  background:url(/opdatering/assets/checked.svg) 0px 2px no-repeat;
}

/*.mdbGreenCheckbox .description {
  font-size: 14px;
  font-style: italic;
  margin-left: 2px;
  padding: 25px 0px;
}*/

.mdbCheckbox .permissiontext {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px 20px 10px 30px;
  color: #5A5A5A;
  text-align: justify;
}

.mdbCheckbox .description {
  font-size: 18px;
}

.mdbCheckbox .permissiontext {
  padding-top: 10px;
  padding-left: 10px;
}

.mdbCheckbox .interestsSelection {
  padding: 10px 0px 0px 10px;
}

.mdbLogoCheckbox label {
  width: 100%;
}

.mdbLogoCheckbox input[type="checkbox"] + label {
  padding: 10px 0px 0px 0px;
}

.mdbLogoCheckbox input[type="checkbox"] + label div {
  position: relative;
}

.mdbLogoCheckbox input[type="checkbox"] + label .checked_img {
  visibility: hidden;
  position: absolute;
}

.mdbLogoCheckbox input[type="checkbox"]:checked + label .checked_img {
  visibility: visible;
  top: -10px;
  left: -10px;
  z-index: 1000;
}

.mdbLogoCheckbox input[type="checkbox"] + label .unchecked_img {
  position: absolute;
  visibility: visible;
  top: -10px;
  left: -10px;
  z-index: 1000;
}

.mdbLogoCheckbox input[type="checkbox"]:checked + label .unchecked_img {
  visibility: hidden;
}

.mdbLogoCheckbox .checkboxCheckedAssets {
  /*padding-top: 10px;*/
  padding-bottom: 25px;
}

.newspaperOffer {
  padding-top: 10px;
}

.newspaperOffer .nodecor {
  color: #333;
  text-decoration: none;
}
