.Header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #124680;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.Header-logo {
  display: block;
  max-width: 200px;
  margin-left: -11px;
}

.Header-title {
  font-size: 23px;
  width: 100%;
}
