.CategoryManualList {
  .CategoryList {
    margin-top: 0;
  }
}

.Category-card {
  .card-body {
    display: flex;
    align-items: center;
  }

  .Category-title {
    flex-grow: 1;
  }

  .Checkbox {
    flex-shrink: 0;
  }
}

button.SubmitButton.ModeButton {
  border-width: 1px;
  border-bottom: none;
  border-color: #efefef;
  color: #000;
  background: #efefef;
  padding: 15px 20px;
  box-shadow: -1px -1px 1px -1px rgba(0, 0, 0, 0.24), 1px -1px 1px -1px rgba(0, 0, 0, 0.24);

  &:focus {
    box-shadow: -1px -1px 1px -1px rgba(0, 0, 0, 0.24), 1px -1px 1px -1px rgba(0, 0, 0, 0.24);
  }

  &:not(:disabled) {
    &.active, &:active {
      background: #fff;
      border-color: #fff;
      color: #000;

      &:focus {
        box-shadow: -1px -1px 1px -1px rgba(0, 0, 0, 0.24), 1px -1px 1px -1px rgba(0, 0, 0, 0.24);
      }
    }
  }
}