body {
  font-family: "Roboto", sans-serif;
}

.formControl {
  height: 45px;
  font-size: 18px;
  border: 1px solid #DDDDDD;
  border-radius: 2px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}