<div class="row">
  <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <h1>Tak for din tilmelding!</h1>

    <div class="row">
      <div class="col-xs-12">
      <h4>Tilvalgte nyhedsbreve</h4>

      <ul class="list-default letter-list">
        <li ng-repeat="letter in newsletters">
          {{ letter.nyhedsbrev_navn }}
        </li>
      </ul>
      </div>
    </div>

    <h3>Vælg dine interesser</h3>

    <p>Fortæl os, hvad du interesserer dig for, så vi kan sende dig relevante tilbud og nyhedsbreve.</p>
    <div class="row">
      <div ng-repeat="interest in interests" class="col-lg-4 col-sm-6 col-xs-12">
        <label>
          <input checklist-model="$parent.user.interests_choices" checklist-value="interest.interesse_id" type="checkbox" /> {{interest.interesse_navn}}
        </label>
      </div>
    </div>

    <div class="module-top text-center">
      <!-- <a href="" ng-click="state= 'step2'" class="btn btn-default btn-link pull-left"><i class="fa fa-angle-left"></i>Tilbage</a> -->
      <a ng-click="submit()" class="btn btn-success pull-right">Gem <i class="fa fa-angle-right"></i></a>
    </div>
    <div class="module-top">
      <small class="alert alert-danger pull-right" ng-show="doubleoptNotFound"><strong>Fejl</strong> Dine interesser blev ikke gemt. Måske har du allerede bekræftet oprettelsen via fremsendte email?</small>
    </div>

  </div>
</div>
