<div class="row">
  <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <h1>Kontakt</h1>
    <p>Et forbud mod tørklæder i folkeskolen vil være et afgørende slag i hovedet på parallelsamfundene, som i dag er en realitet, og hvor andre normer gælder end i det øvrige samfund. Et forbud mod tørklæder i folkeskolen vil være et væsentligt bidrag til integrationen og kvinders ret til at bestemme selv. Men det kunne da være interessant at høre, om statsministeren har ændret mening i forhold til tørklæderne. Hvis det ikke er tilfældet, ligger det lige for, at også regeringen burde bakke op om et forbud.</p>
  </div>
</div>
