<div class="row">
  <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <h1>Din profil</h1>
    <form class="fv-form fv-form-bootstrap" name="userForm" novalidate="novalidate">
      <button class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;" type="submit"></button>
      <div class="vertical">
<!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li ng-class="{active: tab == 'kontakt'}">
            <a aria-expanded="true" data-toggle="tab" href="" ng-click="tab = 'kontakt'" role="tab">
              <i class="fa fa-home "></i>
              Navn og adresse</a>
          </li>
          <li ng-class="{active: tab == 'interesser'}">
            <a aria-expanded="false" data-toggle="tab" href="" ng-click="tab = 'interesser'" role="tab">
              <i class="fa fa-heart "></i>
              Dine interesser</a>
          </li>
          <li ng-class="{active: tab == 'kontaktsamtykker'}">
            <a aria-expanded="false" data-toggle="tab" href="" ng-click="tab = 'kontaktsamtykker'" role="tab">
              <i class="fa fa-check"></i>
              Kontaktsamtykker</a>
          </li>
        </ul>
<!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane" id="vtab1" ng-class="{active: tab == 'kontakt'}">
            <h3 class="title">Navn og adresse</h3>

            <div class="hidden-labels">
              <div class="form-group required has-feedback">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" ng-disabled="true" ng-required="true" ng-model="user.email" class="form-control input-sm" id="email" name="email">
                <small ng-show="userForm.email.$dirty && userForm.email.$invalid" class="help-block">Email adressen er ugyldig</small>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group required has-feedback">
                    <label for="">Fornavn</label>
                    <input type="text" ng-required="true" ng-model="user.fornavn" name="firstName" class="form-control input-sm" id="firstname">
                    <small ng-show="userForm.firstName.$dirty && userForm.firstName.$invalid" class="help-block">Fornavn er påkrævet</small>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group required has-feedback">
                    <label for="">Efternavn</label>
                    <input type="text" ng-required="true" ng-model="user.efternavn" name="lastname" class="form-control input-sm" id="lastname">
                    <small ng-show="userForm.lastname.$dirty && userForm.lastname.$invalid" class="help-block">Efternavn er påkrævet</small>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-6 col-md-3">
                  <div class="form-group required">
                    <label for="">Postnr.</label>
                    <input min="999" max="9999" ng-model="user.postnummer_dk" ng-required="true" type="number" name="zip" class="form-control input-sm" id="zip">
                    <small ng-show="userForm.zip.$dirty && userForm.zip.$invalid" class="help-block">Indtast et gyldigt postnummer</small>
                  </div>
                </div>
                <div class="col-xs-6 col-md-9">
                  <div class="form-group required">
                    <label for="">By</label>
                    <input class="form-control input-sm" id="town" ng-model="user.bynavn" ng-required="true" placeholder="" type="text">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-8 col-sm-9">
                  <label for="">Vejnavn</label>
                  <input class="form-control input-sm" id="id_street" ng-model="user.vejnavn" placeholder="" type="text">
                </div>
                <div class="col-xs-4 col-sm-3">
                  <div class="form-group">
                    <label for="">Husnr.</label>
                    <input class="form-control input-sm" id="id_streetnumber" min="1" ng-model="user.husnummer" type="text">
                  </div>
                </div>
              </div>

              <div class="row">

                <div class="col-xs-4">
                  <div class="form-group">
                    <label for="">Bogstav</label>
                    <input class="form-control input-sm" id="id_streetletter" ng-model="user.husbogstav" type="text">
                  </div>
                </div>

                <div class="col-xs-4">
                  <div class="form-group">
                    <label for="">Etage</label>
                    <input class="form-control input-sm" id="id_floor" ng-model="user.etage" type="text">
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="form-group">
                    <label for="">Side</label>
                    <input class="form-control input-sm" id="id_side" ng-model="user.sidedoer" type="text">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="">Telefon</label>
                    <input class="form-control input-sm" id="id_phone" ng-model="user.telefon" type="text">
                  </div>
                </div>

                <div class="col-xs-6 ">
                  <div class="form-group">
                    <label for="">Fødselsår</label>
                    <input class="form-control input-sm" name="birthyear" max="2015" min="1900" ng-model="user.foedselsaar" type="number">
                    <small ng-show="userForm.birthyear.$dirty && userForm.birthyear.$invalid" class="help-block">Indtast et gyldigt fødselsår</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-10">
                <p class="newsletter-notification">
                  <small class="alert alert-success"  ng-show="profileSaveSuccess"><i class="fa fa-check"></i> Dine oplysninger blev opdateret</small>
                  <small class="alert alert-danger" ng-show="profileSaveError"><i class="fa fa-ban"></i> <strong>Fejl</strong> Dine oplysninger er ikke blevet opdateret</small>
                <p>
              </div>
              <div class="col-sm-2">
                <div class="module-top">
                  <button ng-class="{'btn-invalid ': userForm.$invalid, 'btn-success': userForm.$valid}" class="btn pull-right " ng-click="update(user)">Gem
                    <i class="fa fa-angle-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="vtab2" ng-class="{active: tab == 'kontaktsamtykker'}">
            <h3 class="title">Kontaktsamtykker</h3>
            <ul class="list-default ">
              <li ng-repeat="permission in permissions">
                <div class="checkbox" ng-if="permission.hidden === 0 || $parent.user.nyhedsbreve.indexOf(permission.nyhedsbrev_id) > -1">
                  <label>
                    <input checklist-model="$parent.user.nyhedsbreve" checklist-value="permission.nyhedsbrev_id" ng-change="$parent.checkbox_change(this, permission.nyhedsbrev_id, 'nyhedsbreve')" type="checkbox">
                    <small>
                      <strong class="xs-block">{{permission.nyhedsbrev_navn}}</strong>
                    </small>
                  </label>
                  <small>
                    <a class="show_permission_info" role="button" ng-click="permission.show_indhold = true" ng-hide="permission.show_indhold">Vis info <i class="fa fa-angle-down"></i></a>
                    <a class="show_permission_info" role="button" ng-click="permission.show_indhold = false" ng-show="permission.show_indhold">Skjul info <i class="fa fa-angle-up"></i></a>
                  </small>
                  <p class="permission_info">
                    <small>
                      <span ng-show="permission.show_indhold" ng-bind-html="permission.indhold_safe"></span>
                    </small>
                  </p>
                </div>
              </li>
            </ul>
            <p class="newsletter-notification">
              <small class="alert alert-success" ng-show="permissionSaveSuccess"><i class="fa fa-check"></i> Dine kontaktsamtykker er blevet opdateret</small>
            </p>

          </div>
          <div class="tab-pane" id="vtab3" ng-class="{active: tab == 'interesser'}">
            <h3 class="title">Dine interesser</h3>
            <p>Fortæl os, hvad du interesserer dig for, så vi kan sende dig relevante tilbud og nyhedsbreve.</p>
            <div class="row">
              <div class="col-lg-4 col-sm-6 col-xs-12" ng-repeat="interest in interests">
                <label>
                  <input checklist-model="$parent.user.interesser" checklist-value="interest.interesse_id" ng-change="$parent.checkbox_change(this, interest.interesse_id, 'interesser')" type="checkbox"/>
                  {{interest.interesse_navn}}
                </label>
              </div>
            </div>
            <p class="newsletter-notification">
              <small class="alert alert-success" ng-show="interestsSaveSuccess"><i class="fa fa-check"></i> Dine interesser er blevet opdateret</small>
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
