<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">


  <h1>Dine nyhedsbreve</h1>
  <p>Her er en oversigt over dine nyhedsbreve, du er tilmeldt. Klik på "Afmeld" ud for de nyhedsbreve du ikke ønsker at modtage.</p>
  <ul class="list-brand list-border">
  	<li ng-repeat="newsletter in newsletters">
  		<div class="row">
  				<div class="col-sm-3 col-xs-4">
  					<img src="/images/nl-bt.png" width="" height="" alt="" class="newsletter-logo">
  				</div>
  				<div class="col-sm-7 col-xs-5">
  					<strong class="newsletter-title">{{newsletter.nyhedsbrev_navn}} <span>{{newsletter.nyhedsbrev_tag}}</span></strong>
  					<small>{{newsletter.indhold}}</small>
  				</div>
  				<div class="col-sm-2 col-xs-2 text-right">
  				    <a href="" ng-click="open(newsletter)" class="btn btn-xs btn-default">Afmeld</a>
  						</div>
            </div>

  	</li>
  </ul>

  <script
    type="text/ng-template"
    id="modal.html">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Angiv venligst årsagen</h4>
          </div>
          <div class="modal-body">
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="radio1" value="option1">
        I sender for mange mails
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="radio2" value="option1">
        Indholdet i jeres mails er ikke relevant for mig
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="radio3" value="option1">
        Jeg modtager for mange mails generelt
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="radio4" value="option1">
        Jeg har deltaget i en konkurrence, men ønsker ikke at være tilmeldt
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="radio5" value="option1">
        Jeg er blevet tilmeldt ved en fejl
      </label>
    </div>

    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="radio6" value="option1">
         <input type="text" class="form-control input-other" placeholder="Angiv anden årsag">
      </label>
    </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Annullér</button>
            <a href="" ng-click="unsubscribe()" class="btn btn-primary">Afmeld</a>
          </div>
        </div><!-- /.modal-content -->
  </script>



</div>
