<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
		<h1>FAQ</h1>
		<ul class="list-default">
			<li>
				<h3>Hvordan behandles mine personoplysninger?</h3>
				<p>Venstre er af den opfattelse, at Danmarks stemme betyder noget. Skønt vi er et lille land, er vi ikke en småstat. Blandt andet inden for rammerne af verdens internationale organisationer spiller Danmark en stor rolle, og man lytter til os. Den stemme har regeringen valgt ikke at bruge. Som man selv ofte nok har udtrykt det, ligger man i midtergruppen bl.a. i EU når det kommer til spørgsmålet om en aktiv udenrigspolitik.</p>
			</li>
			<li>
				<h3>Hvor ofte udsendes nyhedsbrevene?</h3>
				<p>Tag Socialdemokraternes deroute under Thorning Schmidt. Tag SFs. Flere partier med arvebesværligheder kan nævnes – men ingen nævnt, ingen glemt.</p>
			</li>
			<li>
				<h3>Hvordan afmelder man sig igen</h3>
				<p>I dag mødes min Folketingsgruppe og Hovedbestyrelse. Denne dag vil formodentlig gå over i <a href="article.php">Venstres historie</a>, hvordan den end vil gå. Som en dag, hvor det, man troede fandtes, og hvis fundament aldrig kunne antastes, måske bliver det alligevel. Det er uden glæde, jeg tager ind til Christiansborg.</p>
			</li>
			<li>
				<h3>Hvad gør jeg, hvis jeg har tekniske problemer?</h3>
				<p>Vivamus condimentum purus vel turpis imperdiet faucibus. Proin vitae nisi dolor, eu sodales tortor. Aliquam sit amet nibh eu ligula faucibus fermentum. In et lorem at purus consectetur molestie vitae non diam. Pellentesque nec velit mauris, quis ultricies orci. Donec auctor fermentum tellus at volutpat. Duis a elit id mauris convallis ultricies.</p>
			</li>
			<li>
				<h3>Hvem er Berlingske Media?</h3>
				<p>Underligt nok nåede Helle Thorning-Schmidt ikke frem til nogen konklusion om, hvorvidt et forbud mod tørklædet i for eksempel skoler ville være en god idé. Det kan i øvrigt undre mig, at Thorning-Schmidt ikke vidste, hvad hun skulle sige til sine børn. Der er skrevet masser af bøger om islam, og muslimers adfærd i verdens brændpunkter såsom Syrien og Irak, hvor tusindvis af kristne og yezidier er drevet på flugt fra terrororganisationen Islamisk Stat, der myrder journalister og nedslagter civilbefolkningen, kan dagligt iagttages i medierne.</p>
			</li>
			<li><a name="contact"></a>
				<h3>Kontakt os</h3>
				<p>Et forbud mod tørklæder i folkeskolen vil være et afgørende slag i hovedet på parallelsamfundene, som i dag er en realitet, og hvor andre normer gælder end i det øvrige samfund. Et forbud mod tørklæder i folkeskolen vil være et væsentligt bidrag til integrationen og kvinders ret til at bestemme selv. Men det kunne da være interessant at høre, om statsministeren har ændret mening i forhold til tørklæderne. Hvis det ikke er tilfældet, ligger det lige for, at også regeringen burde bakke op om et forbud.</p>
			</li>
		</ul>
	</div>
</div>
