<div class="row">
  <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <h1>{{ h1_prefix }}Nyhedsbreve</h1>
    <p ng-if="!show_publisher_selector">Du kan tilmelde dig flere spændende nyhedsbreve fra vores andre medier - klik på <a href="nyhedsbreve"><i class="fa fa-home"></i></a> og vælg de nyhedsbreve, du vil modtage fremover.</p>
    <p ng-if="show_publisher_selector">Vælg medie i menuen og klik på de nyhedsbreve du ønsker at modtage.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

    <section class="newsletter-header" ng-if="show_publisher_selector">
      <div dropdown class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
          {{current_publisher.publisher_navn}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="publisher in publishers">
            <a href="" ng-click="setCurrentPublisher(publisher)">{{publisher.publisher_navn}}</a>
          </li>
        </ul>
      </div>
      <!-- <a ng-hide="loggedIn" ng-click="submit_step1()" class="btn btn-success pull-right">NÆSTE <i class="fa fa-angle-right"></i></a> -->
    </section>

    <section class="newsletters">
      <ul class="list-brand">
        <li ng-repeat="newsletter in newsletters | filter : {publisher_id : current_publisher.publisher_id} : true">
          <div class="li-body" ng-if="newsletter.hidden === 0">
            <div class="row">
              <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
                <div class="newsletter_logo center-block">
                  <label class="center-block" for="label_nes_{{ $index }}">
                    <img src="{{ newsletter.logo_url }}" class="center-block img-responsive" alt="" />
                  </label>
                </div>
              </div>
              <div class="col-xs-8 col-sm-10 col-md-10 col-lg-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checklist-model="$parent.user.nyhedsbreve" checklist-value="newsletter.nyhedsbrev_id"
                      ng-change="toggleSubscription(this, newsletter.nyhedsbrev_id)" id="label_nes_{{ $index }}">
                    <strong class="newsletter-title"  data-publisher-id="{{ newsletter.publisher_id }}" data-newsletter-id="{{ newsletter.nyhedsbrev_id }}">{{newsletter.nyhedsbrev_navn}}</strong>
                    <small ng-bind-html="newsletter.indhold_safe"></small>
                    <!-- <div><em><small>Udsendes {{ newsletter.tidspunkt }}</small></em></div> -->
                  </label>
                  <div ng-show="deleted" class="newsletter-notification alert alert-danger">
                    </small><i class="fa fa-check"></i> Du er nu frameldt nyhedsbrevet</small>
                  </div>
                  <div ng-show="created" class="newsletter-notification alert alert-success">
                    </small><i class="fa fa-check"></i> Du er nu tilmeldt nyhedsbrevet</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </div>
  <div ng-hide="loggedIn" class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <div class="module-top text-right bottom-nav">
      <a ng-click="createProfile()" class="btn btn-success">NÆSTE <i class="fa fa-angle-right"></i></a>
    </div>
  </div>
</div>
