<div class="row">

			<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
				<h1>Din profil</h1>






					<form action="" id="user-form" novalidate="novalidate" class="fv-form fv-form-bootstrap"><button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>



					<div class="vertical">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs" role="tablist">
									<li class="active"><a href="#vtab1" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-home "></i> Navn og adresse</a></li>
									<li class=""><a href="#vtab2" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-check"></i> Kontaktsamtykker</a></li>
									<li class=""><a href="#vtab3" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-heart "></i> Dine interesser</a></li>
								</ul>
								<!-- Tab panes -->
								<div class="tab-content">
									<div class="tab-pane fade active in" id="vtab1">
										<h3 class="title">Navn og adresse</h3>
														<div class="hidden-labels">
					<div class="form-group required has-feedback">
						<label for="exampleInputEmail1">Email</label>
						<input type="email" class="form-control input-sm" id="id_email" name="email" value="henning@adnuvo.com" data-fv-field="email"><i class="form-control-feedback" data-fv-icon-for="email" style="display: none;"></i>
					<small class="help-block" data-fv-validator="notEmpty" data-fv-for="email" data-fv-result="NOT_VALIDATED" style="display: none;">Du skal indtaste din email adresse</small><small class="help-block" data-fv-validator="emailAddress" data-fv-for="email" data-fv-result="NOT_VALIDATED" style="display: none;">Email adressen er ugyldig</small></div>

					<div class="row">
						<div class="col-sm-6">
							<div class="form-group required has-feedback">
								<label for="">Fornavn</label>
								<input type="text" name="firstName" class="form-control input-sm" id="id_firstname" value="Henning" data-fv-field="firstName"><i class="form-control-feedback" data-fv-icon-for="firstName" style="display: none;"></i>
							<small class="help-block" data-fv-validator="notEmpty" data-fv-for="firstName" data-fv-result="NOT_VALIDATED" style="display: none;">Fornavn er påkrævet</small></div>
						</div>

						<div class="col-sm-6">
							<div class="form-group required has-feedback">
								<label for="">Efternavn</label>
								<input type="text" name="lastName" class="form-control input-sm" id="id_lastname" value="Jørgensen" data-fv-field="lastName"><i class="form-control-feedback" data-fv-icon-for="lastName" style="display: none;"></i>
							<small class="help-block" data-fv-validator="notEmpty" data-fv-for="lastName" data-fv-result="NOT_VALIDATED" style="display: none;">Efternavn er påkrævet</small></div>
						</div>
					</div>





					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="">Land</label>
								<select class="form-control">
									<option>Danmark</option>
									<option>Tyskland</option>
									<option>Sverige</option>
								</select>
							</div>
						</div>
					</div>



					<div class="row">
						<div class="col-xs-4 col-lg-2 col-md-3">
							<div class="form-group">
								<label for="">Postnr.</label>
								<input type="text" name="zip" class="form-control input-sm" id="id_zip">
							</div>
						</div>
						<div class="col-xs-8 col-lg-10 col-md-9">
							<div class="form-group">
								<label for="">By</label>
								<input type="text" class="form-control input-sm" id="id_town" placeholder="* Dette felt udfyldes automatisk alt efter postnr." disabled="">
							</div>
						</div>
					</div>









					<div class="row">
						<div class="col-xs-10">
							<label for="">Vejnavn</label>
							<input type="text" class="form-control input-sm" id="id_street" placeholder="[Autocomplete]">
						</div>
						<div class="col-xs-2">
							<div class="form-group">
								<label for="">Husnr.</label>
								<input type="text" class="form-control input-sm" id="id_streetnumber">
							</div>
						</div>
					</div>

					<div class="row">

						<div class="col-xs-4 col-md-2">
							<div class="form-group">
								<label for="">Bogstav</label>
								<input type="text" class="form-control input-sm" id="id_streetletter">
							</div>
						</div>


						<div class="col-xs-4 col-md-2">
							<div class="form-group">
								<label for="">Etage</label>
								<input type="text" class="form-control input-sm" id="id_floor">
							</div>
						</div>
						<div class="col-xs-4 col-md-2">
							<div class="form-group">
								<label for="">Side</label>
								<input type="text" class="form-control input-sm" id="id_side">
							</div>
						</div>
					</div>

					<div class="checkbox">
						<div class="form-group">
							<label class="">
								<input type="checkbox" name="address_type" id="address_2" value=""> <strong>Firmadresse</strong>
							</label>
						</div>
					</div>

					<div class="form-group no-show">
						<label for="">Firma</label>
						<input type="text" class="form-control input-sm" id="id_company">
					</div>

					<div class="row">
						<div class="col-xs-6">
							<div class="form-group">
								<label for="">Telefon</label>
								<input type="text" class="form-control input-sm" id="id_phone">
							</div>
						</div>

						<div class="col-xs-6 ">
							<div class="form-group">
								<label for="">Fødselsår</label>
								<input type="text" class="form-control input-sm" id="id_year">
							</div>
						</div>
					</div>
				</div>

									</div>
									<div class="tab-pane fade " id="vtab2">
										<h3 class="title">Kontaktsamtykker</h3>
										<ul class="list-default ">
											<li>
												<div class="checkbox">
													<label>
														<input type="checkbox"> <strong class="xs-block">Tilbud fra partnere</strong><br><small>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo.</small>
													</label>
												</div>
											</li>
											<li>
												<div class="checkbox">
													<label>
														<input type="checkbox"> <strong>Datasamkøringssamtykke</strong><br><small>Socialdemokraterne har fyret op under en storstilet kampagne, der skal udstille Dansk Folkeparti som økonomisk uansvarlig. Og den slags negative kampagner findes der adskillige eksempler på i dansk politik, forklarer ekspert.</small>
													</label>
												</div>
											</li>
										</ul>

									</div>
									<div class="tab-pane fade" id="vtab3">
										<h3 class="title">Dine interesser</h3>
										<p>Fortæl os hvad der interesserer dig. Så kan vi fremover sende dig skærddersyede mails, der matcher netop dine interesser.</p>
										<div class="col-3">
																						<div class="checkbox">
												<label>
													<input type="checkbox"> Egestas												</label>
											</div>
																						<div class="checkbox">
												<label>
													<input type="checkbox"> Duis mollis												</label>
											</div>
																						<div class="checkbox">
												<label>
													<input type="checkbox"> Venenatis												</label>
											</div>
																						<div class="checkbox">
												<label>
													<input type="checkbox"> Integer posuere erat												</label>
											</div>
																						<div class="checkbox">
												<label>
													<input type="checkbox"> Egestas												</label>
											</div>
																						<div class="checkbox">
												<label>
													<input type="checkbox"> Donec id elit												</label>
											</div>
																						<div class="checkbox">
												<label>
													<input type="checkbox"> Donec sedodio dui												</label>
											</div>
																						<div class="checkbox">
												<label>
													<input type="checkbox"> Donec sed odio dui												</label>
											</div>
																						<div class="checkbox">
												<label>
													<input type="checkbox"> Donec ullamcorper												</label>
											</div>
																						<div class="checkbox">
												<label>
													<input type="checkbox"> Consectetur												</label>
											</div>
																						<div class="checkbox">
												<label>
													<input type="checkbox"> Risuseget urnamollis												</label>
											</div>
																						<div class="checkbox">
												<label>
													<input type="checkbox"> Nullam id dolor												</label>
											</div>
																						<div class="checkbox">
												<label>
													<input type="checkbox"> Nullam id dolor												</label>
											</div>
																					</div>
									</div>
								</div>
							</div>



					<div class="row">
						<div class="col-md-12">
							<div class="module-top ">
								<a href="?alert" class="btn btn-success pull-right ">Gem <i class="fa fa-angle-right"></i></a>
							</div>
						</div>
					</div>


	  			</form>
			</div>






	</div>
