<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
				<h1>Dine interesser</h1>

				<p>Fortæl os hvad der interesserer dig. Så kan vi fremover sende dig skærddersyede mails, der matcher netop dine interesser.</p>

				<div class="box">
					<div class="col-3">

													<div class="checkbox">
								<label>
								<input type="checkbox"> Risuseget urnamollis								</label>
							</div>
													<div class="checkbox">
								<label>
								<input type="checkbox"> Donec ullamcorper								</label>
							</div>
													<div class="checkbox">
								<label>
								<input type="checkbox"> Posuere consectetur								</label>
							</div>
													<div class="checkbox">
								<label>
								<input type="checkbox"> Donec sed odio dui								</label>
							</div>
													<div class="checkbox">
								<label>
								<input type="checkbox"> Duismollis								</label>
							</div>
													<div class="checkbox">
								<label>
								<input type="checkbox"> Donec id elit								</label>
							</div>
													<div class="checkbox">
								<label>
								<input type="checkbox"> Posuere consectetur								</label>
							</div>
													<div class="checkbox">
								<label>
								<input type="checkbox"> Posuere consectetur								</label>
							</div>
													<div class="checkbox">
								<label>
								<input type="checkbox"> Facilisis								</label>
							</div>
													<div class="checkbox">
								<label>
								<input type="checkbox"> Lorem ipsum								</label>
							</div>
													<div class="checkbox">
								<label>
								<input type="checkbox"> Integer posuere erat								</label>
							</div>
													<div class="checkbox">
								<label>
								<input type="checkbox"> Nullam quis								</label>
							</div>
													<div class="checkbox">
								<label>
								<input type="checkbox"> Commodo luctus								</label>
							</div>
											</div>
				</div>

				<div class="module-top text-center">
					<a href="step-2.php" class="btn btn-default btn-link pull-left"><i class="fa fa-angle-left"></i> Tilbage</a>
					<a href="step-4.php" class="btn btn-success pull-right">Gem <i class="fa fa-angle-right"></i></a>
				</div>

			</div>
