.InsightTable {
  margin-bottom: 30px;

  .collapse {
    overflow: hidden;
  }

  .InsightTable-link:not([href]) {
    text-decoration: underline;
    cursor: pointer;
  }
}

.InsightTable-caption {
  text-align: center;
  font-size: 18px;
}