<div class="row">
  <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <div ng-if="!exists">
      <h2>Tak for din interesse</h2>
      <p>Dine interesser er endnu ikke tilmeldt - du modtager en mail med et link, hvor du skal bekræfte din tilmelding.</p>
      <p>Dit link er åbent i 48 timer.</p>
    </div>

    <div ng-if="exists">
      <h2>Bekræft opdatering af profil</h2>
      <p>Den indtastede e-mail adresse eksisterer allerede i vores system. Du har modtaget en email hvor du skal bekræfte opdatering af din profil.</p>
      <p>Dit link er åbent i 48 timer.</p>
    </div>
  </div>
</div>
