<div class="row">
  <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <h1>FAQ</h1>
    <h3>Hvordan behandles mine personoplysninger?</h3>
    <p>Dine personoplysninger vil ikke blive videresolgt til andre, og alle oplysninger om dig vil blive gemt i overensstemmelse med persondataloven. Personoplysningerne lagres og anvendes under trygge og sikre forhold. Du har altid ret til indsigt, rettelse og at spærre dine oplysninger for videre markedsføring.</p>
    <p>Læs mere om cookie- og privatlivspolitik på <a target="_blank" href="http://www.berlingskemedia.dk/cookie-og-privatlivspolitik/" class="cookie-link">www.berlingskemedia.dk/cookie-og-privatlivspolitik</a>.</p>

    <h3>Hvor ofte udsendes nyhedsbrevene?</h3>
    <p>Hvor ofte du modtager e-mail fra Berlingske Media afhænger af, hvilke nyhedsbreve du har tilmeldt dig. Du kan se, hvor ofte de enkelte nyhedsbreve udsendes kan ses på de enkelte nyhedsbreve.</p>

    <h3>Hvordan afmelder man sig igen?</h3>
    <p>I alle e-mails du modtager fra os, har du mulighed for at afmelde dig vores e-mail tjenester via et link i e-mailen.</p>

    <h3>Hvad gør jeg, hvis jeg har tekniske problemer?</h3>
    <p>Hvis du oplever tekniske problemer ved tilmelding eller modtagelse af et nyhedsbrev kan du kontakte os på denne e-mailadresse <a href="mailto:kundeservice@berlingske.dk" target="_top">kundeservice@berlingske.dk</a></p>

    <h3>Hvem er Berlingske Media?</h3>
    <p>Berlingske Media er et af landets største mediehuse, og vi har leveret nyheder i mere end 265 år. Gennem vores medier skaber vi relationer, øger danskernes informationsniveau og bidrager til samfundsdebatten. Vi værner om kvalitetsjournalistikken og ser den som en nødvendig del af det danske demokrati. Vi udvikler konstant vores udgivelser og er drevet af ambition og passion. Vores mål er at forsyne danskerne med unikke medieoplevelser, som vi ikke kan og vil undvære.</p>
    <p>Berlingske Medias titler udkommer døgnet rundt via aviser, web, tablets, mobil, apps, web-tv og radio.</p>

    <h3>Kontakt os:</h3>
    <p>Har du yderligere spørgsmål, er du velkommen til at sende en e-mail til <a href="mailto:kundeservice@berlingske.dk" target="_top">kundeservice@berlingske.dk</a>.</p>
  </div>
</div>
