.DetailsGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
  padding-top: 14px;
  border-top: 1px solid #ccc;

  &:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
  }
}

.DetailsGroup-action {
  margin-left: 30px;
}